
.login_page {
  background-color: #8338ec;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 100vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
}

.form-login > input {
  outline: 1px solid black;
  color: white;
  background-color: #a874f2;
  border: 1px solid #a874f2;
  border-radius: 5px;
  width: 29vw;
  height: 3.5vh;
  margin-bottom: 3vh;
  padding-left: 1vw;
}

.form-login > input::placeholder {
  color: white;
}

.form-login > button {
  outline: 1px solid black;
  border-radius: 5px;
  width: 15vw;
  height: 3.5vh;
  margin-bottom: 3vh;
  border: 1px solid #FB5607;
  background-color: #FB5607;
}

.login_container > img {
  width: 30vw;
}